.list_produtos {
  margin-top: 20px;
}

.img_produto img {
  max-width: 100%;
}

.img_produto {
  display: block;
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 5px;
  border-radius: 10px;
}

p {
  margin: 0;
  margin-bottom: 0.2rem;
}