.top_menu {
    width: 100%;
    height: 40px;
    background: #ccc;
    line-height: 40px;
}

.sub_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logoff {
    font-size: 18px;
    color: black;
    list-style-type: none;
    text-decoration: none;
}