@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

.menu_list {
    margin: 10px auto;
    margin-bottom: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    height: 32px;
    padding: 0;
    gap: 10px;
    text-align: center;
}

.menu_list li {
    list-style-type: none;
}

.menu_list span {
    font-size: 0;
}

.menu_list i {
    font-size: 18px;
}

.menu_top {
    border-bottom: 2px solid #000;
}

.menu_list a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    /* position: absolute; */
    height: 33px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px 10px;
    display: block;
    background: #fff;
}

.menu_list a:hover span {
    font-size: 14px;
    width: 100%;
    left: 25px;
}

.menu_list a:hover {
    transition: all 1s;
    position: absolute;
    background: #fff;
}